In [1]:
from collections import Counter
import numpy as np

def frequency(chars):
    # Enter code here!
    frequencies = dict(Counter(chars.values()))
    sum_frequencies = sum(frequencies.values())
    for key in frequencies:
        frequencies[key] /= sum_frequencies
    return frequencies
def chance_homophily(chars):
    # Enter code here!
    frequencies = frequency(chars)
    return np.sum(np.square(list(frequencies.values())))
favorite_colors = {
    "ankit":  "red",
    "xiaoyu": "blue",
    "mary":   "blue"
}

color_homophily = chance_homophily(favorite_colors)
print(color_homophily)

0.5555555555555556

In [42]:
import pandas as pd

df  = pd.read_csv("https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@individual_characteristics.csv", low_memory=False, index_col=0)
df1 = df[df.village == 1]
df2 = df[df.village == 2]
df2.head()

,village,adjmatrix_key,pid,hhid,resp_id,resp_gend,resp_status,age,religion,caste,...,privategovt,work_outside,work_outside_freq,shgparticipate,shg_no,savings,savings_no,electioncard,rationcard,rationcard_colour
203,2,1,200101,2001,1,1,Head of Household,33,HINDUISM,GENERAL,...,OTHERS,Yes,0.0,No,NaN,No,NaN,Yes,Yes,YELLOW
204,2,6,200201,2002,1,1,Head of Household,35,HINDUISM,GENERAL,...,OTHERS,No,NaN,No,NaN,No,NaN,Yes,Yes,YELLOW
205,2,7,200202,2002,2,2,Spouse of Head of Household,30,HINDUISM,GENERAL,...,OTHERS,No,NaN,Yes,1.0,Yes,1.0,Yes,Yes,YELLOW
206,2,12,200401,2004,1,1,Head of Household,42,HINDUISM,GENERAL,...,OTHERS,No,NaN,No,NaN,Yes,1.0,Yes,Yes,YELLOW
207,2,13,200402,2004,2,2,Spouse of Head of Household,39,HINDUISM,GENERAL,...,NaN,NaN,NaN,Yes,1.0,No,NaN,Yes,Yes,YELLOW

In [43]:
sex1 = df1.set_index("pid")["resp_gend"].to_dict()
caste1 = df1.set_index("pid")["caste"].to_dict()
religion1 = df1.set_index("pid")["religion"].to_dict()

sex2 = df2.set_index("pid")["resp_gend"].to_dict()
caste2 = df2.set_index("pid")["caste"].to_dict()
religion2 = df2.set_index("pid")["religion"].to_dict()

caste2[202802]

'OBC'

In [49]:
chance_homophily(sex1)

0.5027299861680701

In [50]:

chance_homophily(sex2)

0.5005945303210464

In [51]:

chance_homophily(caste1)

0.6741488509791551

In [52]:

chance_homophily(caste2)

0.425368244800893

In [53]:

chance_homophily(religion1)

0.9804896988521925

In [54]:
chance_homophily(religion2)

1.0

In [64]:
data_filepath1 = "https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@key_vilno_1.csv"
data_filepath2 = "https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@key_vilno_2.csv"

pid1 = pd.read_csv(data_filepath1)

pid2 = pd.read_csv(data_filepath2)
pid1.iloc[100]

Unnamed: 0       100
0             102205
Name: 100, dtype: int64

In [68]:
import networkx as nx
A1 = np.array(pd.read_csv("https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@adj_allVillageRelationships_vilno1.csv", index_col=0))
A2 = np.array(pd.read_csv("https://courses.edx.org/asset-v1:HarvardX+PH526x+2T2019+type@asset+block@adj_allVillageRelationships_vilno2.csv", index_col=0))
G1 = nx.to_networkx_graph(A1)
G2 = nx.to_networkx_graph(A2)

pid1 = np.array(pd.read_csv(data_filepath + "key_vilno_1.csv", dtype=int, header = None)[0])
pid2 = np.array(pd.read_csv(data_filepath + "key_vilno_2.csv", dtype=int, header = None)[0])

NameError: name 'data_filepath' is not defined